<footer class="page-footer">
  <nav>
    <small>
      <ul class="list-unstyled">
        <li><%= link_to "Six Million Stories", '#'%></li>
      </ul>
    </small>
    <ul class="list-unstyled">
      <li><%= link_to "Inspiration", inspiration_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "For Teachers", for_teachers_path%></li>
    </ul>
  </nav>
</footer>