<!DOCTYPE html>
<html>
  <head>
    <title>SixMillionStories</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/alvarotrigo/fullPage.js/master/jquery.fullPage.css" />
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery_ujs.js' %>
    <%= javascript_include_tag 'https://rawgit.com/alvarotrigo/fullPage.js/master/jquery.fullPage.js' %>
    
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if controller.action_name == "inspiration"%>
      <div class="container-fluid">
    <% else %>
      <div class="container">
    <% end %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <% if Rails.env.development? %>
        <div class="card">
          <div class="card-body">
            <%= debug(params) %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
